<div class="w-full h-[35%]">
    <div class="pt-5 flex justify-center">
        <img class="w-32 rounded-full bg-black" alt="photo-profile" src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" />
    </div>
    <div class="text-center mt-5">
        <h1 class="text-lg font-bold w-3/4 mx-auto text-black">Asep Kurasep</h1>
        <p class="text-sm font-light text-black">CEO & Founder</p>
    </div>
</div>
<div class="w-full h-[55%] px-5">
    <div class="py-2">
        <a routerLink="/dashboard-content" class='active: text-green-500'>
            <div class="bg-white-secondary py-3 px-4 rounded-lg">
                <div class="flex items-center">
                    <img class="w-5 mr-5" alt="home-icon" src="../../../assets/dashboard-assets/dashboard-icon.png" />
                    <span class="text-black">Dashboard</span>
                </div>
            </div>
        </a>
    </div>
</div>
<div class="w-full h-[10%] flex justify-center items-center">
    <div class="flex items-center">
        <img class="w-4 mr-1" alt="signout-icon" src="../../../assets/dashboard-assets/logout-icon.png" />
        <p>Sign Out</p>
    </div>
</div>